<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>🕌 Planning synchronisé</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <main class="container">
      <h1 class="page-title">🕌 Emploi du temps synchronisé</h1>

      <section class="form">
        <fieldset class="form-section">
          <legend>📌 Informations Générales</legend>

          <label>Fuseau horaire détecté :</label>
          <ul>
            <li>{{ timezone_str }}</li>
          </ul>

          {% if segments %}
          <label>Créneaux disponibles :</label>
          <ul>
            {% for seg in segments %}
            <li>{{ seg.start }} - {{ seg.end }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>Aucun créneau disponible détecté pour la période sélectionnée.</p>
          {% endif %}

          <boutton class="btn-submit">
            <a href="/edit_slot">✏️ Modifier un créneau manuellement</a>
          </boutton>
          
        </fieldset>

        <fieldset class="form-section">
          <legend>📂 Fichiers téléchargeables</legend>

          {% if download_link %}
          <boutton class="btn-submit"
            ><a href="{{ download_link }}" download
              >📥 Télécharger les horaires de prière (.ics)</a
            ></boutton
          >
          {% endif %} {% if empty_download_link %}
          <boutton class="btn-submit"
            ><a href="{{ empty_download_link }}" download
              >📥 Télécharger les créneaux disponibles (.ics)</a
            ></boutton
          >
          {% endif %} {% if slots_download_link %}
          <boutton class="btn-submit"
            ><a href="{{ slots_download_link }}" download
              >📥 Télécharger les créneaux synchronisés (.ics)</a
            ></boutton
          >
          {% endif %}
        </fieldset>
      </section>
    </main>
  </body>
</html>
