<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>🕌 Planning synchronisé</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <main class="container">
      <h1 class="page-title">🕌 Emploi du temps synchronisé</h1>

      <section class="form">
        <fieldset class="form-section">
          <legend>📌 Informations Générales</legend>

          <label>Fuseau horaire détecté :</label>
          <ul>
            <li>{{ timezone_str }}</li>
          </ul>

          {% if segments %}
          <label>Créneaux disponibles :</label>
          <ul>
            {% if scope == "today" %}
              <li>
                <strong>{{ segments.date if segments.date else "Aujourd'hui" }} :</strong>
                <ul>
                  {% for seg in segments.slots %}
                  <li>{{ seg.start }} - {{ seg.end }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% elif scope == "month" %}
              {% for day in segments %}
              <li>
                <strong>{{ day.date if day.date else "Jour " + day.day|string }} :</strong>
                <ul>
                  {% for slot in day.slots %}
                  <li>{{ slot.start }} - {{ slot.end }}</li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            {% elif scope == "year" %}
              {% for month in segments %}
              <li>
                <strong>{{ month.date if month.date else "Mois " + month.month|string }} :</strong>
                <ul>
                  {% for day in month.days %}
                  <li>
                    <strong>{{ day.date if day.date else "Jour " + day.day|string }} :</strong>
                    <ul>
                      {% for slot in day.slots %}
                      <li>{{ slot.start }} - {{ slot.end }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
          {% else %}
          <p>Aucun créneau disponible détecté pour la période sélectionnée.</p>
          {% endif %}

          <boutton class="btn-submit">
            <a href="/edit_slot">✏️ Modifier un créneau manuellement</a>
          </boutton>
          
        </fieldset>

        <fieldset class="form-section">
          <legend>📂 Fichiers téléchargeables</legend>

          {% if ics_path %}
          <boutton class="btn-submit"
            ><a href="{{ url_for('static', filename='ics/' + ics_path) }}" download
              >📥 Télécharger les horaires de prière (.ics)</a
            ></boutton
          >
          {% endif %} 
          {% if empty_slots_path %}
          <boutton class="btn-submit"
            ><a href="{{ url_for('static', filename='ics/' + empty_slots_path) }}" download
              >📥 Télécharger les créneaux disponibles (.ics)</a
            ></boutton
          >
          {% endif %} 
          {% if available_slots_path %}
          <boutton class="btn-submit"
            ><a href="{{ url_for('static', filename='ics/' + available_slots_path) }}" download
              >📥 Télécharger les créneaux synchronisés (.ics)</a
            ></boutton
          >
          {% endif %}
        </fieldset>
      </section>
    </main>
  </body>
</html>
